name: "Terraform Deploy (Artifacts state)"

on:
  workflow_dispatch:

concurrency:
  group: "terraform-${{ github.ref }}"
  cancel-in-progress: false

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Restore terraform state (artifact)
        uses: actions/download-artifact@v4
        with:
          name: terraform-state-${{ github.ref_name }}
          path: ./state-artifact
        continue-on-error: true

      - name: Move state if exists
        run: |
          if [ -f "./state-artifact/terraform.tfstate" ]; then
            mkdir -p terraform
            mv ./state-artifact/terraform.tfstate terraform/terraform.tfstate
            echo "Restored terraform.tfstate"
          else
            echo "No previous state artifact found"
          fi

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.6.0

      - name: Configure env
        run: |
          echo "YC_OAUTH_TOKEN=${{ secrets.YC_OAUTH_TOKEN }}" >> $GITHUB_ENV
          echo "YC_CLOUD_ID=${{ secrets.YC_CLOUD_ID }}" >> $GITHUB_ENV
          echo "YC_FOLDER_ID=${{ secrets.YC_FOLDER_ID }}" >> $GITHUB_ENV
          echo "YC_PUBLIC_KEY=${{ secrets.YC_PUBLIC_KEY }}" >> $GITHUB_ENV

      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      - name: Terraform Apply
        working-directory: terraform
        env:
          YC_OAUTH_TOKEN: ${{ secrets.YC_OAUTH_TOKEN }}
          YC_CLOUD_ID: ${{ secrets.YC_CLOUD_ID }}
          YC_FOLDER_ID: ${{ secrets.YC_FOLDER_ID }}
          YC_PUBLIC_KEY: ${{ secrets.YC_PUBLIC_KEY }}
        run: terraform apply -auto-approve \
          -var yc_oauth_token=${{ secrets.YC_OAUTH_TOKEN }} \
          -var yc_cloud_id=${{ secrets.YC_CLOUD_ID }} \
          -var yc_folder_id=${{ secrets.YC_FOLDER_ID }} \
          -var yc_public_key="${{ secrets.YC_PUBLIC_KEY }}"

      - name: Upload terraform state (artifact)
        uses: actions/upload-artifact@v4
        with:
          name: terraform-state-${{ github.ref_name }}
          path: terraform/terraform.tfstate